.g-maps {
    height: 40vh;
}

.map-container .panel {
    margin-bottom: 0;
    border-radius: 0;
}

.map-container .row {
    margin-left:0;
    margin-right: 0;
}

.dropdown-menu .fa {
    cursor: pointer;
}

.map-icon {
    padding: 3px;
}

.pt-icon {
    max-height: 1.4em;
}