<div class="map-container" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="g-maps">
    </div>
    <div class="controls">
        <div class="row">
                <div v-for="(point, index) in currentPath.markers" :key="point.coordsStr">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group pull-left">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" v-model="point.visible" v-on:change="currentPath.callUpdateHandlers()" />
                                                Видимая
                                            </label>
                                        </div>
                                    </div>
                                    <div class="btn-group pull-right">
                                        <a v-on:click="toTop(index)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-up"></i></a>
                                        <a v-on:click="toDown(index)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-down"></i></a>
                                        <a v-on:click="remove(index)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-remove"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="point.visible" class="panel-body">
                            <div class="input-group">
                                <span class="input-group-addon">{{point.label}}</span>
                                <input class="form-control" type="text" v-model="point.description">
                            </div>
                            <div class="input-group bootstrap-timepicker timepicker">
                                <input type="text" placeholder="Время" v-bind:date-time="'dt-' + (index + 1)"  class="form-control input-small" />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <input type="hidden" v-bind:name="fieldName" v-bind:value="currentPath.serial">
</div>