<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maps Operator</title>

    <link href="dist/css/base.css" rel="stylesheet"/>

    <script src="dist/js/libs.js" type="text/javascript"></script>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5JRBDJ0fbvh_VDxHreF5B-O9iBzALeLI" type="text/javascript">
    </script>

    <script src="dist/js/index.js" type="text/javascript"></script>
</head>
<body>
<div id="app" class="container">
    <div class="row">
        <div class="col-lg-8">
            <div id="g-maps" class="g-maps">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <button v-on:click="clearPath" class="btn btn-default">Очистить маршрут</button>
                <button v-on:click="serialize" class="btn btn-default">Сериализовать</button>
            </div>
            <div class="row">
                <ul>
                    <li v-for="(point, index) in currentPath.markers" :key="point.coordsStr">
                        <input type="text" v-model="point.description">
                        <h5>{{point.label}} - {{point.coordsStr}}</h5>
                        <button v-on:click="toTop(index)" class="btn btn-default">Вверх</button>
                        <button v-on:click="toDown(index)" class="btn btn-default">Вниз</button>
                        <button v-on:click="remove(index)" class="btn btn-default">Удалить</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>