<div class="map-container" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div id="g-maps" class="g-maps">
    </div>
    <div class="controls">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item" v-for="(point, index) in currentPath.markers" :key="point.coordsStr">
                    <input type="text" v-model="point.description">
                    <h5>{{point.label}} - {{point.coordsStr}}</h5>
                    <button v-on:click="toTop(index)" class="btn btn-default">Вверх</button>
                    <button v-on:click="toDown(index)" class="btn btn-default">Вниз</button>
                    <button v-on:click="remove(index)" class="btn btn-default">Удалить</button>
                </li>
            </ul>
        </div>
    </div>
    <input type="hidden" v-bind:name="fieldName" v-bind:value="currentPath.serial">
</div>